#about-orgs{
    height: fit-content;
}

#about-orgs div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3vh 0;
}

.org-big div{
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.org-big img{
    width: 30vw;
}

.org-big div div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.org-big div div img{
    width: 5vw;
}

.org-big p{
    width: 50vw;
    font-size: 1.7vw;
}

/* #region Backgrounds */
#programaria{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/orgs/orgs-bg/programaria-iana.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#themis{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/orgs/orgs-bg/themis-palestra.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#abertha{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/orgs/orgs-bg/coletivo-abertha.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#fdv{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/orgs/orgs-bg/filhasdaviolencia.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#girlup{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/orgs/orgs-bg/girlup.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#tributo{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/orgs/orgs-bg/tributoaelas.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
/* #endregion */

@media screen and (max-width: 768px){
    .org-big{
        flex-direction: column;
        justify-content: space-around;
        gap: 1vh;
        padding: 2vh 0;
    }

    .org-big>div{
        padding: 0 !important;
    }

    .org-big div div{
        padding: 0 !important;
    }

    .org-big div div img{
        width: 10vw;
    }

    .org-big p{
        width: 70vw;
        font-size: 3vw;
        text-align: center;
    }
}